<section id="contacto" class="py-16 bg-gray-800 text-white">
    <div class="max-w-screen-xl mx-auto px-6">
        <!-- Título de la sección -->
        <h2 class="text-3xl font-semibold text-center mb-12">Contáctame</h2>
        
        <!-- Formulario de contacto -->
        <div class="bg-gray-700 p-8 rounded-lg shadow-lg">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)" class="space-y-6">
                
                <!-- Campo de correo -->
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-400">Correo electrónico</label>
                    <input id="email" formControlName="email" type="email" required
                        class="mt-2 w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        [class.border-red-500]="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
                </div>
                
                <!-- Campo de mensaje -->
                <div>
                    <label for="message" class="block text-sm font-medium text-gray-400">¿Por qué deseas contactarme?</label>
                    <textarea id="message" formControlName="message" rows="4" required
                        class="mt-2 w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        [class.border-red-500]="contactForm.controls['message'].invalid && contactForm.controls['message'].touched"></textarea>
                </div>
                
                <!-- Botón de enviar -->
                <div>
                    <button type="submit" [disabled]="sending" class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Enviar mensaje
                    </button>
                    <!-- Indicador de carga -->
                    <p *ngIf="sending" class="text-center text-gray-300 mt-2">Enviando...</p>
                </div>
                
            </form>
        </div>
    </div>
</section>

<!-- Popup de Confirmación -->
<div *ngIf="successMessage" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-xs w-full text-center">
        <h3 class="text-xl font-semibold text-green-600">¡Formulario Enviado!</h3>
        <p class="text-gray-800 mt-2">Tu mensaje ha sido enviado correctamente.</p>
        <button (click)="closePopup()" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-500 focus:outline-none">Cerrar</button>
    </div>
</div>
